<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itcast.mallweb.mapper.CommodityMapper">

<!--    新增商品的图片-->
 <insert id="dityUrl">
     insert into dity_url(dity_id, avatar)
     values
     <foreach collection="list" item="key" separator=",">
         (#{key.dityId},#{avatar})
     </foreach>
 </insert>

<!--    批量删除商品-->
    <delete id="dityDetele">
        delete from commodity where id in
        <foreach collection="ids" item="id" separator=","  open="(" close=")">
            #{id}
        </foreach>
    </delete>



<!--    批量删除商品图片-->
    <delete id="dityUrlDetele">
        delete from dity_url where dity_id in
        <foreach collection="ids" item="id" separator=","  open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>